body{
	margin: 0px;
	padding: 0px;
/*	width: 100%;
	height:100%;
	position: relative;;*/
}
.navbar {
    border-radius: 0px;
}
#login{
	border: 1px solid #E1E1E1;
	width: 300px;

	/*margin: 0 auto;*/
	padding: 15px;
	position: absolute;;
	top:40%;
	left: 50%;
	transform:  translate(-50%, -50%);

}